.container{
    background-color: white;
    height:70%;
    margin-left:25%;    
}

.container1{
    width:400px;
    height:400px;
    margin-top:50px;
    margin-left:50px;
}
.container2{
    width:600px;
    height:600px;
    margin-top:50px;
    margin-left:450px;
}