.col-sm-4{
    background-color: rgb(209, 237, 250);
    height:630px;
    border-right: 6px solid rgb(255, 253, 253);
} 
 .col-sm-8{
    background-color: rgb(209, 237, 250);
    height:630px;
   
}
 
.select{
   margin-top:80px;
   margin-left:150px;
}
 
 .modalcontainer{
    border:3px solid  rgb(250, 246, 246);
    width:170px;
    background-color: rgb(253, 245, 171);
    float:left;
    margin-left:150px;
    text-align:justify;
    
}
.modalcontainer p{
 color:blue;
}
 
p:hover {
    background-color: rgb(209, 237, 250);
  }

  