.col-sm-4{
    background-color: rgb(209, 237, 250);
    height:630px;
    border-right: 5px solid rgb(247, 242, 242);
}
.col-sm-8{
    background-color: rgb(209, 237, 250);
    height:630px;
   
}
.select{
   margin-top:80px;
   margin-left:200px;
}
 .container{
     border:3px solid white;
     width:400px;
     background-color: white;
     float:left;
 }